---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section class="home-wrapper">
  <img src="/figures/apl150214_2orange.jpg">
   
 <section class="english">
   <p>A Public Library was not a public library.</p>
   <p>From January through December 2015, A Public Library was located at the Bona-Peiser-Bibliothek in Berlin Kreuzberg. It was a space for conversations, presentations, the sharing of resources, and for collective reading, viewing, and learning. It hosted an ephemeral collection of publications and other materials, which provided a foundation for, and expand along with, a series of public programs, workshops, and classes organized in conjunction with <a href="http://thepublicschool.org/berlin">The Public School Berlin</a> as well as other collaborators.</p>
   <p>A Public Library was organized by Fiona Geuß, Fotini Lazaridou-Hatzigoga and Caleb Waldorf.</p>
 </section>

 <section class="deutsch">
   <p>A Public Library ist keine öffentliche Bibliothek. A Public Library ist ein Raum für Gespräche, Präsentationen, das Teilen von Ressourcen und für gemeinsames Lesen, Anschauen und Lernen. Eine ephemere Sammlung von Publikationen und Materialien bildet die Grundlage für eine Reihe von Veranstaltungen, Workshops und Seminaren in Zusammenarbeit mit <a href="http://thepublicschool.org/berlin">The Public School Berlin</a> und anderen Initiativen.</p>
   <p>Zwischen Januar und Dezember 2015 befand sich A Public Library in der Bona-Peiser-Bibliothek in Berlin Kreuzberg (<a href="https://www.google.de/maps/place/Oranienstra%C3%9Fe+72,+10969+Berlin/@52.5050264,13.4071327,17z/data=!3m1!4b1!4m2!3m1!1s0x47a84e2eabd3fbf5:0x29a8a08ac93c605?hl=en" target="_blank">Oranienstraße 72, 10969</a>). </p>
   <p>A Public Library wird organisiert von Fiona Geuß, Fotini Lazaridou-Hatzigoga und Caleb Waldorf.</p>
 </section>

</section>

  {{ content }}

  <section class="program-list">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Program 2015" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts  reversed -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%-d.%m.%Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <p class="excerpt">
        {{ post.excerpt | strip_html }}
       </p>
       <a class="post-link-find-out" href="{{ post.url | relative_url }}">
        Find out more »
      </a>
       
      </li>
      {%- endfor -%}
    </ul>
   </section>
  {%- endif -%}

</div>
